<% form_field_styles = "w-full rounded-md p-2 text-center bg-[#fcf6b0]/80" %>

<div class="flex flex-col items-center gap-2">
  <h1 class="font-bold"><%= ingredient.name %></h1>

  <%= form_with model: ingredient, html: {class: "flex flex-col gap-2"} do |form| %>
    <div>
      <%= form.label "Price" %>
      <%= form.number_field :price,
        value: ingredient.price_per_unit,
        class: form_field_styles
      %>
    </div>
    <div>
      <%= form.label "Qty" %>
      <%= form.number_field :per, value: 1, class: form_field_styles %>
    </div>
    <div>
      <%= form.label "Unit" %>
      <%= form.text_field :unit, class: form_field_styles %>
    </div>

    <div class="bg-green-400 rounded-md mt-4 p-2 text-center">
      <%= form.submit %>
    </div>
  <% end %>
</div>
