<h1>Meals#index</h1>

<% @meals.each do |meal| %>
  <h2><%= meal.name %></h2>
  <ul>
    <% for component in meal.recipe do %>
      <li>
        <%= component[:amount] %>
        <%= component[:unit] %>
        <%= component[:ingredient] %>
        <%= number_to_currency component[:cost] %>
      </li>
    <% end %>
<% end %>
